<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

	{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1 id="a-title">{{ page.title | default: site.title }}</h1>
		<nav class="breadcrumbs">
			<a href="/">./</a>
			{%- assign segments = page.url | split: '/' -%}
			{%- assign path = "" -%}
			{%- for segment in segments -%}
				{%- if segment != "" and forloop.last == false -%}
					{%- assign path = path | append: "/" | append: segment -%}
					<a href="{{ path }}/">{{ segment }}/</a>
				{%- endif -%}
			{%- endfor -%}
			<a href="{{ path }}">{{ segments.last }}</a>
		</nav>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="links">
          <a href="{{ site.github.owner_url }}" class="btn btn-github"><span class="icon"></span></a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
		<br>
		{% if page.url != "/" %}
			<a href="..">Back</a>
		{% endif %}
		<br><br>
      </section>
    </div>
  </body>
</html>
