---
layout: default
---


{{ content }} 

{% assign path = page.path | split: "/" | shift %}
{% assign path_length = path | size %}
{% if path_length > 0 %}
	{% assign path_length = path_length | minus: 1%}
	{% assign path = path | slice: 0, path_length %}
{% endif %}

{% assign header_title = "" %}
{% for segment in path %}
	{% if forloop.first == false %}
		{% assign header_title = header_title | append: " - " %}
	{% endif %}
	{% assign seg = segment | replace: "-", " " %}
	{% assign header_title = header_title | append: seg %}
{% endfor %}

<h1>{{ header_title }}</h1>

<ul>
	{% assign child_names = "" | split: "" %}

	{% for writeup in site.writeups %}
		{% assign segments = writeup.path | split: "/" | shift %}

		{% if segments[-1] == "index.md" %}
			{% continue %}
		{% endif %}

		{% assign is_in_current_path = true %}
		{% assign iter_max = path_length | minus: 1 %}
		{% for i in (0..iter_max) %}
			{% if segments[i] != path[i] %}
				{% assign is_in_current_path = false %}
			{% endif %}
		{% endfor %}

		{% if path_length == 0 %}
			{% assign is_in_current_path = true %}
		{% endif %}

		{% if is_in_current_path %}
			{% assign next_level = segments[path_length] %}
			{% unless child_names contains next_level %}
				{% assign child_names = child_names | push: next_level %}
				<li><a href="{{ next_level | split: '.' | first }}/">{{ next_level | remove: ".md" | replace: "-", " " }}</a></li>
			{% endunless %}
		{% endif %}
	{% endfor %}
</ul>
