---
layout: default
---

{% assign segments = page.path | split: '/' %}
{% assign year = segments[1] %}
{% assign ctf = segments[2] %}


<h2>{{ year }} - {{ ctf }}</h2>
<h2>{{ page.title }}</h2>

<p>
<span class="view" id="Author">By {{ page.author | default: site.author }}</span>
{%- assign word_count = page.content | split: " " | size -%}
{%- assign WPM = 130 -%}
{%- assign read_time = word_count | divided_by: WPM | round -%}
<span class="view" id="readTime">{{ read_time }} min read</span>
</p>

{{ content }}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}


