---
layout: default
---

{% assign segments = page.path | split: '/' %}
{% assign segments_length = segments.size | minus: 2 %}
{% assign segments = segments | slice: 1, segments_length %}

<h3>{% for seg in segments reversed %}{{seg | replace: '\-', 'PLACEHOLDERDASH' | replace: '-', ' ' | replace: 'PLACEHOLDERDASH', '-'}}{% unless forloop.last %} - {% endunless %}{% endfor %}</h3>
<h2>{{ page.title }}</h2>

<p>
<span class="view" id="Author">By {{ page.author | default: site.author }}</span>
{%- assign word_count = page.content | split: " " | size -%}
{%- assign WPM = 130 -%}
{%- assign read_time = word_count | divided_by: WPM | round -%}
<span class="view" id="readTime">{{ read_time }} min read</span>
</p>

{{ content }}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}


