/* Hide the Scroll Bar */
body {
    scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
    margin: 0;
}

body::-webkit-scrollbar{
    display: none; /* Chrome, Safari, and Opera */
} 

.fullIframe{
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

iframe.fullIframe[title="Footer"]{
    bottom: 0;
    position: absolute;
    z-index: 100;
    overflow: hidden;
    height: 185px;
}

iframe.fullIframe[title="NavBar"]{
    position: sticky;
    top: 0;
    z-index: 100;
    overflow: hidden;
    height: 45px;
}